@font-face
  font-family: 'KenPixel'
  src: url('../static/fonts/KenPixel.woff2') format('woff2'),
      url('../static/fonts/KenPixel.woff') format('woff')
  font-weight: normal
  font-style: normal
  font-display: swap

body
  margin: 0

canvas
  background-color: #000
